.logo{
    height: 45px;
    width: 50px;
}
.navContainer{
   height: 45px; 
   width: 1500px;
   font-size: 25px;
   background-color: beige;
   margin-left: 150px;
   font-style: italic;
   
}



.statementContainer{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border: rgb(255, 0, 200);
    display: flex;
    /* height: 200px;
    width: 200px; */
    margin-bottom: 100px;
    
}

.buttonContainer{
    border: solid rgb(228, 20, 20);
    height: 250px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    
}
.closingContainer{
    border: solid yellow;
    height: 500px;
    width: 500px;
}
.navContainer a:hover{
    background-color: rgb(241, 15, 15);
}
/* .p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
} */
.smoothie{
     height:500px; 
    width: 500px; 

   
}
body{
    background-image: url(https://tmbidigitalassetsazure.blob.core.windows.net/rms3-prod/attachments/37/1200x1200/Berry-Smoothie-Bowl_EXPS_JMZ18_224489_B03_08_5b.jpg);
    background-size: cover;
    display: fixed;
}
a{
    color: rgb(15, 197, 197);
}
